<header>
  <h1
    class="card-title justify-center"
    style="font-size: 55px; margin-top: 60px; letter-spacing: 4px; font-weight: 300;"
  >TODO</h1>
  <form
    action="/todo/add"
    method="post"
    class="flex justify-center mt-20 gap-2"
  >
    <input
      name="todo"
      type="text"
      placeholder="TODO"
      class="input input-bordered w-full max-w-xs"
    />
    <button class="btn">+</button>
  </form>
  <br />
  <ul>
    {{#each todo}}
      <li
        style="background-color: rgb(246, 246, 246); padding: 13px; width: 370px; margin: 0 auto;"
      >
        <input type="checkbox" />
        <label style="position: absolute;">{{todo}}</label>
        <a
          href="todo/delete/{{_id}}"
          style="color: red; margin-left: 280px;"
          class="btn btn-ghost btn-sm"
        >
          X
        </a>
      </li>
      <hr style="width: 370px; margin: 0 auto;" />
    {{/each}}
  </ul>
</header>